{% extends 'donations/base.html' %}
{% block content %}

<div class="wrapper">
  {% if user.is_authenticated %}
    {% if charity_list %}
      <form action="/donations/donate/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for charity in charity_list %}
          <!-- data-toggle="tooltip" data-placement="right" title="wanna learn more? click to check out their site 🐝" -->
          <label id="charityLabel{{ forloop.counter }}" for="charity{{ forloop.counter }}" style ="letter-spacing: .5px; color: white; font-weight: bold; background-color: #EF476F; border-radius: 20px; padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px;">{{ charity.name }}</label>
          <p style = "letter-spacing: .25px;">{{ charity.desc }}</p>
          <div class="range-wrap">
            <input type="range" class="range" link-to="charity{{ forloop.counter }}" min="0.00" max="100.00" step="0.01" value="0.00">
            <output class="bubble"></output>
          </div>
          <br><br>
          <b>$</b> <input type="text" id="charity{{ forloop.counter }}"><br><br>
        {% endfor %}
        <input type="submit" value="submit" class="btn btn-primary" onclick="joinSplits();" style = "letter-spacing: .5px;border: none; border-radius: 40px;font-family: Helvetica; font-style: normal; font-weight: bold;">
      </form>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var colors = ["#EF476F", "#1B9AAA", "#FFC43D", "#06D6A0", "#EECFAE"];
      var index = 1;
      var arrayIndex = 0;
      var charityLabel = "charityLabel" + index.toString();
      while (document.getElementById(charityLabel) !== null) {
        document.getElementById(charityLabel).style.backgroundColor = colors[arrayIndex];
        index++;
        charityLabel = "charityLabel" + index.toString();
        if (arrayIndex < 4) {
          arrayIndex++;
        } else {
          arrayIndex = 0;
        }
      }
      
    }, false);

    const allRanges = document.querySelectorAll(".range-wrap");
    allRanges.forEach(wrap => {
      const range = wrap.querySelector(".range");
      const bubble = wrap.querySelector(".bubble");

      range.addEventListener("input", () => {
        setBubble(range, bubble);
      });
      setBubble(range, bubble);
    });

    function setBubble(range, bubble) {
      const val = range.value;
      const min = range.min ? range.min : 0;
      const max = range.max ? range.max : 100;
      const newVal = Number(((val - min) * 100) / (max - min));
      bubble.innerHTML = val;
      bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
    }

    function joinSplits() {
      var index = 1;
      var charity = "charity" + index.toString();
      var money_total = 0.00;
      var money_splits = "";
      while (document.getElementById(charity) !== null) {
        money_total += parseFloat(document.getElementById(charity).value);
        money_splits += document.getElementById(charity).value + ",";
        $(charity).prop('disabled', true);
        index++;
        charity = "charity" + index.toString();
      }
      document.cookie = "donation_total=" + money_total.toString() + ";domain=.project-1-34.herokuapp.com;path=/";
      document.getElementById('id_money_splits').value = money_splits;
    }

    $(function() {
      $('input').filter( function(){return this.type == 'range' } ).each(function(){  
        var $slider = $(this),
          $text_box = $('#'+$(this).attr('link-to'));
        
        $text_box.val(this.value);
        
        $slider.change(function(){
          $text_box.val(this.value);
        });
        
        $text_box.change(function(){
          $slider.val($text_box.val());
        });

      });
    });
    </script>
  {% else %}
    <p>You aren't logged in.</p>
  {% endif %}
</div>

{% endblock content %}