{% extends 'donations/base.html' %}
{% block content %}

{% if user.is_authenticated %}
  <form action="/donations/donate/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  <div id="slider"></div>

  <h3>The Trevor Project</h3>
  <p>The ultimate goal of The Trevor Project is to end suicide among LGBTQ people under 25 by providing them with counseling and education. It offers young people support with trained counselors via phone, text, and online chat. Every $1 donated allows people to get one more minute of counseling.</p>
  <h3>The National Immigration Law Center</h3>
  <p>This nonprofit has defended the rights of low-income immigrants in the US since 1979. It works to provide immigrants access to health care and fights unconstitutional immigration policy. The nonprofit also works to educate the public on the impact new laws would have on this marginalized group.</p>
  <h3>Human Rights Watch</h3>
  <p> Defending the rights of people across the globe is no small task, but the organization Human Rights Watch has been doing just this since 1978. About 400 journalists, attorneys, country experts, and many others work to publish non-partisan and independent reports every year on human rights conditions around the world.</p>
  <h3>The Global Fund for Women</h3>
  <p>The Global Fund for Women proudly calls itself and its supporters champions for equality. From setting up the first women’s fund in Nepal to funding secret schools in Afghanistan, this bold organization strives to empower women and girls around the world and ensure they are granted basic human rights.</p>
  <h3>Charity Water</h3>
  <p>According to charity: water, one in 10 people don’t have access to clean drinking water. The organization hopes to change these stats by bringing clean and safe drinking water to developing countries. It has already funded over 29,000 water projects around the world.</p>
  <h3>Mental Health America</h3>
  <p>Founded in 1909, Mental Health America helps Americans understand, prevent, and treat mental health issues that can interfere with their overall wellness and ability to live a healthy life. They also focus on educating Americans about mental health issues through their online hub of information and tools.</p>
{% else %}
  <p>You aren't logged in.</p>
{% endif %}

{% endblock content %}