<!-- 
/***************************************************************************************
*  REFERENCES
*  Title: Bootstrap Documentation
*  Author: N/A
*  Date: 11/5/20
*  Code version: 4.5.3
*  URL: https://getbootstrap.com/docs/4.5/getting-started/introduction/
*  Software License: MIT
***************************************************************************************/
 -->
{% extends 'donations/base.html' %}
{% block content %}
<div class="wrapper">
  {% if user.is_authenticated %}
    <form action="/donations/task/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name">Task Name</label>
        <input class="form-control" id="id_name" type="text" name="name" maxlength="200" required>
      </div>
      <div class="form-group">
        <label for="id_desc">Task Description</label>
        <textarea class="form-control" id="id_desc" rows="3" type="text" name="desc" maxlength="1000" required></textarea>
      </div>
      <div class="form-group">
        <label for="id_goal">Task Goal (minutes)</label>
        <input class="form-control" id="id_goal" type="text" name="goal" required>
      </div>
      <input type="submit" value="submit" class="btn btn-primary" onclick="joinSplits();" style = "letter-spacing: .5px;border: none; border-radius: 40px;font-family: Helvetica; font-style: normal; font-weight: bold;">
    </form>
  {% endif %}
</div>
{% endblock content %}