{% extends 'google_login/base.html' %}
{% load socialaccount %}

{% block content %}

<body>
  {% if user.is_authenticated %}
  <center style = "font-family: Helvetica; font-style: normal; font-weight: bold; color: #565554">hi {{ user.email }}!<br>
    <a href="https://project-1-34.herokuapp.com/logout" style="font-family: Helvetica; font-style: normal; font-weight: bold;">log out</a>
  </center>
  {% else %}
  <div style="padding:25%;">
  <center style = "font-family: Helvetica; font-style: normal; font-weight: bold; color: #565554">log in to explore how to help your cville community 😊</center>
  <a href="{% provider_login_url 'google' %}" action = reauthenticate, style = "font-family: Helvetica; font-style: normal; font-weight: bold;"><center>click here</center></a>
  </div>
  {% endif %}
  </body>
</html>

{% endblock%}