{% load socialaccount %}
<html lang="en">
<head>
    <title>My HTML Document</title>
    <style>
        body { background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
        p { color: #fff; }
    </style>
</head>
<body>
    <h1 style='color:#000080'><center>Hoo's Giving Back?</center></h1>
    <center><a href="donations"><font color="#000080">Feed</font></a> • <a href="donations/donate"><font color="#000080">Donate</font></a> • <a href="donations/volunteer"><font color="#000080">Volunteer</font></a></center></h2>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    {% else %}
    <div style="border:3px double pink;padding:25%;color:#000080">
    <center>LOGIN WITH GOOGLE ACCOUNT</center>
    <a href="{% provider_login_url 'google' %}"><center>Click Here</center></a>
    </div>
    {% endif %}
    </body>
</html>
